@font-face {
  font-family:'Qurova';
  src: url('./assets/fonts/Alien-Encounters-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family:'Remaining';
  src: url('./assets/fonts/digitalism.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body{
    width:250px;
    height:150px;
    background-image: url('assets/images/brain-rot2.jpg');
    background-size: cover;
    font-family:'Qurova';
    color: black;
}

#reset{
    background-color: red;
    position: absolute;
    bottom: 10px;
    width:90px;
    height: 35px;
    font-size: 20px;
    font-family: 'Remaining';
}

#time{
    font-size: 30px;
    font-family: 'Remaining';
    background-color: white;
    padding:6px;
}
